.serviceBody{
    background: url(../img/7a.jpg) right no-repeat;
    display: flex;
    align-items: center;
}

.cardService{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
    text-align: center;
}
#cardService1{
    background-color: #cb5d51;
}
#item1{
    background-color: #fca196;
}
#item2{
    background-color: #dcbfbc;
}
#button1{
    background-color: #cb5d51;
}