@import "./centro";
@import "./header";
@import"./cards";
@import "./login";
@import "./contact";
@import "./aboutUs";
@import "./service";

body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}


.TextoCentro{
    text-align: center;
    font-weight: bold;
}
//estilos
.lista {
  padding: 0;
  width: 200px;
}
.lista li {
  display: inline-block;
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 10px;
  border: 2px solid rgb(196, 2, 2);
}

/*CAROUSEL*/
.carousel_centro {
  justify-content: center;
}

.imagenCarina {
  display: flex;
  justify-content: center;
}

/*header*/
.nav {
  background-color: rgba(233, 27, 27, 0.292);
}

.header_clase {
  margin-top: 50px;
}

