@import "./centro";
@import "./header";
@import"./cards";


body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}

footer{
   background-color: rgb(89, 131, 199);
}
.TextoCentro{
    text-align: center;
    font-weight: bold;
}




